.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 15vh;
  left: calc(50% - 18rem);
  height: 450px;
  width: 500px;
  padding: 40px;
  z-index: 100;
  overflow: hidden;
  border: 1px solid gainsboro;
  border-radius: 20px;
  background-color: #fff;
}

.meeting-time {
  height: 40px;
  width: 100%;
}

.attendance {
  height: 40px;
}

.attendance select {
  height: 25px;
  width: 60px;
  text-align: center;
}

.radio-box {
  display: flex;
}

.radio-box div:first-child {
  margin-right: 20px;
}
.title {
  margin: 10px 0 10px 0;
}
.title input {
  height: 25px;
  width: 100%;
  margin-top: 10px;
}

.content textarea {
  height: 200px;
  width: 100%;
  margin-top: 10px;
  /* text-align: sta/rt; */
}

.button {
  margin-top: 10px;
  margin-left: 85%;
  min-width: 80px;
  min-height: 30px;
  cursor: pointer;
}
