.content-box {
  height: 170px;
  padding: 20px 20px 20px 20px;
  border: 1px solid gainsboro;
}

.title {
  display: block;
  height: 48px;
  min-height: 48px;
  font-size: 20px;
  line-height: 25px;
}

.content {
  height: 48px;
  color: #94969b;
}

.user-info {
  padding-top: 20px;
}
.user-info span {
  margin-right: 5px;
}
.counter {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.react-icons {
  width: 10px;
  height: 10px;
}

.counter span {
  margin-left: 3px;
  margin-right: 20px;
}

.counter .post-time {
  margin-left: 220px;
}
