.content-box:nth-child(2n-1) {
  height: 170px;
  padding: 20px 20px 20px 20px;
  border-top: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}
.content-box:nth-child(2n) {
  height: 170px;
  padding: 20px 20px 20px 20px;
  border-top: 1px solid gainsboro;
}

.title {
  display: block;
  height: 48px;
  min-height: 48px;
  font-size: 20px;
  line-height: 25px;
}

.content {
  height: 48px;
  color: #94969b;
}

.user-info {
  padding-top: 25px;
  display: flex;
  align-items: center;
}
.user-info span {
}
.counter {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter > div {
  display: flex;
  align-items: center;
}

.counter-box span {
  margin: 0 15px 0 5px;
}
